@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap'); 

 html, body {
   height: 100vh; 
   margin: 0 !important; 
   padding: 0 !important;
   overflow: hidden; 
 } 
 
 body {
   font-family: "Cormorant", serif; 
 }
 
 .custom-background {
   background-color: #7393B3;
   color: #F5F5DC; 
}
 
 .uk-background-muted {
   overflow: hidden !important; 
 }
 
 #brand-logo > li > a {
   color: #191970; 
   font-weight: bold;
   font-style: oblique;
 }

.uk-navbar-nav > li > a { 
   color: #F0FFFF;
   font-size: 12px; 
}

.uk-navbar-nav > li > a:hover {
   color: #f0f0f0; 
}

.uk-navbar-dropdown-nav > li > a {
   color: white !important;
 }

.uk-navbar-dropdown {
   top: 75px !important; 
   background-color: #7393B3;
} 

.uk-navbar-container {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
  }

.custom-footer {
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
  } 

.custom-footer .uk-subnav > * > * { 
    padding: 0 6px; 
    color: white;
    font-size: 0.8rem;
}

.white-link {
    color: white !important;
 }

#main-content .uk-container { 
   max-height: 100vh; 
   width: 100%;
   overflow-y: auto !important; 
   background-color: white !important;
   filter: brightness(95%);
   padding: 1.8rem; 
   box-sizing: border-box;  
}

#main-content .uk-container h6 {
   font-size: 13px;
   font-style: oblique;
   color: white; 
}

.match-info-text {
   color: white; 
   font-weight: bold;
}

#main-content .uk-grid-small .uk-flex img {
   width: 50px; 
   height: 50px; 
   margin-right: 10px;
}

#main-content .uk-grid-small .uk-flex .uk-text-emphasis {
   color: #FFF44F !important;
} 

#main-content .uk-grid-small .uk-flex .uk-text-center span {
   font-weight: 600; 
   color: #FFF44F;
}

#main-content .uk-card {
	background-color: #6A5ACD; 
	opacity: 0.8;
	color: white; 
}

.league-page .uk-container {
	background-color: #F0F0F0;
}

.uk-table-striped tbody tr:nth-child(odd) {
    background-color: #E6E6FA; 
 }
 
 .league-page th {
   color: red !important;
   font-weight: bold;
   background-color: #6495ED; 
 }
 
 .league-page table, th, td {
  border: 1px solid black;
  background-color: #B6D0E2 !important;
  filter: brightness(95%);
  color: black; 
}

.league-page table {
  max-width: 70vw !important; 
  margin-left: auto; 
  margin-right: auto; 
}

.uk-accordion-content .uk-card {
  height: 200px; 
}

.uk-accordion-content h6 {
  font-weight: 600;
}

.uk-accordion-content h3 {
  color: #FFD700;
}

.uk-accordion-title {
  color: #4682B4;
}

#cardiv {
   margin-bottom: 10px;
}

.uk-accordion-content .uk-card-body {
	background-color: #6082B6 !important;
	opacity: 0.6 !important;
	color: white !important;
	font-weight: 900 !important;
}

.standings-page th {
   color: red !important;
   font-weight: bold;
   background-color: #6495ED;
 } 
 
 .standings-page .uk-table-striped tbody tr:nth-child(even) {
   background-color: #CBC3E3; 
   filter: brightness(95%);
 }
 
 #newsbox .uk-container {
   background-color: #5F8575 !important;
 }
 
 #newsbox h6 {	
   filter: brightness(110%) !important;
   color: #581845;
   font-weight: bold;
 }
 
 #newsbox p {
   color: #FFFFE0; 
 }
 
 @media (max-width: 1024px) {
    .standings-page .uk-container .uk-flex {
      margin-top: 80px !important; 
    }
    
    #accordion-ucl .uk-flex {
      margin-top: -50px !important;
    }
    
    #newsbox {
       bottom: 0; 
       margin-bottom: 150px;
    }
 }
 