<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>

<body> 

<footer class="uk-background-muted custom-background uk-text-small custom-footer">
  <div class="uk-container uk-padding-small">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-wrap uk-text-center">
      <div class="uk-margin-small-right">
        Powered By the <a href="https://www.football-data.org/" class="white-link">Football-Data</a> API
      </div>
      <div>
        <ul class="uk-subnav uk-subnav-divider uk-flex uk-flex-center uk-margin-remove">
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html> 		