<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Back Of The Net Soccer Analytics - Gameday Scores, Stats, & More</title>
<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/css/uikit.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/js/uikit-icons.min.js"></script>
<script th:src="@{/js/scripts.js}"></script>
</head>
<body>

</body>
</html>